p, h1, h2, h3 {
    font-family: -apple-system, system-ui, "Segoe UI", "Liberation Sans", sans-serif;
    font-family: system-ui, sans-serif;
}

body {
    padding: 8px 50px;
}

h1, h2, h3, p {
    color: rgb(36, 39, 41);
}

#summary-section {
    text-align: center;
}

#summary-section > * {
    margin: 5px;
}
